@font-face {
  font-family: "noto";
  src: url(../Noto_Sans_KR/NotoSansKR-Regular.otf);
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

html, body {
  font-family: "noto";
}

.main_area {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, #d883ff, #895fff);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.main_area .left_time {
  line-height: 35px;
}

.main_area .ex {
  font-size: 2rem;
}

.timer_div {
  text-align: center;
  padding-bottom: 7rem;
}

.load {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .4);
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
}

.load_t {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: #fff;
}

@keyframes circle {
  0% { transform: rotate(0); }
  100% { transform: rotate(360deg); }
}

.cir {
  width: 500px;
  height: 500px;
  border: 4px solid transparent;
  border-top: 4px solid #fff;
  border-right: 4px solid #fff;
  border-radius: 50%;
  animation: circle 2s infinite linear;
  position: relative;
}

.cir::after {
  content: "";
  width: 25px;
  height: 25px;
  background: #fff;
  position: absolute;
  bottom: 11%;
  right: 12%;
  border-radius: 50%;
}

.t_box {
  opacity: 0;
}

.now_time {
  display: flex;
  align-items: center;
  justify-content: center;
}

.today {
  text-align: center;
  font-family: "Microsoft Phagspa", "noto";
  font-size: 3rem;
  padding-bottom: 5rem;
  text-shadow: 1px 0 #fff;
  letter-spacing: -1.5px;
}

.timer_div h1 {
  width: 270px;
  font-family: "impact";
  position: relative;
  padding: 40px 20px;
  margin: 0 80px 0 80px;
  font-size: 13rem;
}

.timer_div h1:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 100%;
  background: #fff;
  top: 8%;
  right: -30%;
  transform: rotate(8deg);
}

.meridiem::before,
.sec::before,
.min::before,
.hour::before {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 2.4rem;
  font-family: "Microsoft Phagspa";
  font-weight: 100;
  opacity: .8;
}

.meridiem::before {
  content: "meridiem";
}

.sec::before {
  content: "seconds";
}

.min::before {
  content: "minutes";
}

.hour::before {
  content: "hours";
}